/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
/* === header === */
.logo {
  background: black; }
.logo .menu li a {
  color: white;  }
.logo .imago {
  position: relative;  }
.logo .imago img {
  z-index: 9999999999999;
  position: absolute; }
.title-bar {
  padding: 1.5rem;}
/* === navegacion === */
.nav {
  background: #f1f1f1; }
.nav .menu li a {
  font-size: 2rem;
  color: black; }
/* === contenido === */
.blog {
  margin-bottom: 2rem; }
/* === footer ==== */
.footer {
  padding-top: 3rem;
  background: black; }
.footer h3 {
  color: white; }
.footer .menu li a {
  color: white; }
/* === disclaimer === */
.disclaimer {
  background-color: white; }
.disclaimer p {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: #333333; }
/* === efecto === */
.sin-padding {
  padding: 0; }
.efecto div {
  background: rgba(1, 1, 1, 1);
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto h5 {
  position: absolute;
  opacity: 0;
  bottom: 11rem;
  padding-left: 1rem;
  color: white;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto div:hover h5 {
  opacity: 1;
  color: white;
  bottom: 12rem; }
.efecto h5.small {
  position: absolute;
  bottom: 8rem;
  opacity: 0;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto div:hover h5.small {
  position: absolute;
  bottom: 9rem;
  color: white;
  opacity: 1;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto img {
  opacity: 1;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto img:hover {
  opacity: 0.3; }
.efect {
  position: relative;
  border-top: none !important; }
.post-meta .post-meta-key {
  display: none; }
ul.post-meta {
  list-style-type: none;
  margin-left: 0; }
/* === efecto2 === */
.efecto2 div {
  background: rgba(1, 1, 1, 1);
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto2 h2 {
  position: absolute;
  bottom: 3rem;
  color: white;
  padding-left: 1rem;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto2 div:hover h2 {
  color: white;
  bottom: 5rem; }
.efecto2 img {
  opacity: 1;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto2 img:hover {
  opacity: 0.3; }
.efect2 {
  position: relative;
  border-top: none !important; }
/* === input custom === */
.custom[type='text'], .custom[type='password'], .custom[type='date'], .custom[type='datetime'], .custom[type='datetime-local'], .custom[type='month'], .custom[type='week'], .custom[type='email'], .custom[type='number'], .custom[type='search'], .custom[type='tel'], .custom[type='time'], .custom[type='url'], .custom[type='color'],.custom textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #777777;
  background-color: black;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 0;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .custom[type='text']:focus, .custom[type='password']:focus, .custom[type='date']:focus, .custom[type='datetime']:focus, .custom[type='datetime-local']:focus, .custom[type='month']:focus, .custom[type='week']:focus, .custom[type='email']:focus, .custom[type='number']:focus, .custom[type='search']:focus, .custom[type='tel']:focus, .custom[type='time']:focus, .custom[type='url']:focus, .custom[type='color']:focus, .custom textarea:focus {
    border: 1px solid #8a8a8a;
    background-color: black;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
.custom textarea {
  max-width: 100%; }
  .custom textarea[rows] {
    height: auto; }
.custom input::-webkit-input-placeholder,
.custom textarea::-webkit-input-placeholder {
  color: #cacaca; }
.custom input::-moz-placeholder,
.custom textarea::-moz-placeholder {
  color: #cacaca; }
.custom input:-ms-input-placeholder,
.custom textarea:-ms-input-placeholder {
  color: #cacaca; }
.custom input::placeholder,
.custom textarea::placeholder {
  color: #cacaca; }
.custom.input-group-field {
  margin: 0;
  display: table-cell;
  vertical-align: middle; }
/* ============================  */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {
/* === efecto === */
.efecto div {
  background: rgba(1, 1, 1, 1);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto h5 {
  position: relative;
  opacity: 1;
  bottom: 0;
  color: white;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto div:hover h5 {
  color: white;
  bottom: 0; }
.efecto h5.small {
  position: relative;
  bottom: 0;
  opacity: 1;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto div:hover h5.small {
  position: relative;
  bottom: 0;
  color: white;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto img {
  opacity: 1;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto img:hover {
  opacity: 1; }
.efect {
  position: relative;
  border-top: none !important; }
/* === efecto2 === */
.efecto2 div {
  background: rgba(1, 1, 1, 1);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto2 h5 {
  position: relative;
  bottom: 0rem;
  color: white;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto2 div:hover h5 {
  color: white;
  bottom: 0rem; }
.efecto2 img {
  opacity: 1;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }
.efecto2 img:hover {
  opacity: 1; }
.efect2 {
  position: relative;
  border-top: none !important; }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 640px) {}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}