/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* === header === */
.logo {
  background: black; }
.logo .menu li a {
  color: white;  }
.logo .imago {
  position: relative;  }
.logo .imago img {
  z-index: 9999999999999;
  position: absolute; }

/* === navegacion === */
.nav {
  background: #f1f1f1; }
.nav .menu li a {
  font-size: 2rem;
  color: black; }
/* === footer ==== */
.footer {
  padding-top: 3rem;
  background: black; }
.footer h3 {
  color: white; }
.footer .menu li a {
  color: white; }

/* === efecto === */
.efecto div {
  background: rgba(1, 1, 1, 1);
  border-top: 5px solid #FEBE10;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto div:hover {
  border-top: 5px solid #2F549E; }
.efecto h6 {
  position: absolute;
  bottom: 9rem;
  left: 1rem;
  color: white;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto div:hover h6 {
  color: #2F549E;
  bottom: 70px; }
.efecto h6.small {
  position: absolute;
  bottom: 8rem;
  left: 32px;
  opacity: 0;
  font-size: 0.75rem;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto div:hover h6.small {
  position: absolute;
  bottom: 6rem;
  left: 32px;
  color: #2F549E;
  opacity: 1;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto img {
  opacity: 0.7;
  transition:All 0.5s ease;
  -webkit-transition:All 0.5s ease;
  -moz-transition:All 0.5s ease;
  -o-transition:All 0.5s ease; }
.efecto img:hover {
  opacity: 1; }
.efect {
  position: relative; }

/* ============================ */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 1024px) {



}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 640px) {



}

 /*========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/


}